* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;;
}

body {
    background: #ec7010e0;
    border: 3px solid white;
}

.container {
    padding: 10px;
    max-width: 390px;
    height: 99vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: inherit;
    margin: 0 auto;
}

p {
    font-weight: 200;
    font-size: 22px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    word-break: break-word;
}

.item_two {
    position: absolute;
    bottom: 22px;
    width: 100%;
    text-align: center;
}

a {
    text-decoration: none;
    margin: 15px 5px !important;
    border: 1px solid white;
    padding: 5px;
    border-radius: 5px;
    color: black;
    background: white;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

